<form action="/register" method="POST">
    <input type="text" name="storename" placeholder="Store Name">
    <input type="number" name="phone" placeholder="Whatsapp No">
    <input type="text" name="password" placeholder="Password"> 
    <input type="submit" value="Register">
    
</form>